@use 'sass:meta'; // To enable @use via meta.load-css and keep comments in order

/* [START woosmap_demo_airport] */
@include meta.load-css("../../shared/scss/_default.scss");
@include meta.load-css("../../shared/scss/_autocomplete_input.scss");
@include meta.load-css("../../shared/scss/_autocomplete_list.scss");
@include meta.load-css("../../shared/scss/_dropdown.scss");
@import "../../shared/scss/mixins.scss";

#app {
  height: 100%;
  font-size: 13px;
}

body {
  background-color: #eee;
  overflow-y: hidden;
}

.bold {
  font-weight: 700;
}

#poiSelector {
  position: absolute;
  top: 10px;
  left: 335px;
  width: 200px;
}

#parkingDropdownButton {
  width: 200px;
}

#gateDropdownButton {
  width: 200px;
}

#poiSelector2 {
  position: absolute;
  top: 10px;
  left: 540px;
  width: 200px;
}



.parking {
  .parking-name {
    display: flex;
    flex-grow: 1;
  }

  .active-icon-wrapper {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M6.054 8.958 3.65 6.555A2.112 2.112 0 1 0 .663 9.543l3.86 3.86a2.11 2.11 0 0 0 2.054.543c.38-.084.74-.274 1.033-.568l7.77-7.77a2.114 2.114 0 0 0-2.987-2.99l-6.34 6.34z'%3E%3C/path%3E%3C/svg%3E");
    height: 10px;
    width: 10px;
    background-position: 50%;
    background-size: contain;
  }

  &.active {
    .active-icon-wrapper {
      display: flex;
    }
  }
}

.gate {
  .gate-name {
    display: flex;
    flex-grow: 1;
  }

  .active-icon-wrapper {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M6.054 8.958 3.65 6.555A2.112 2.112 0 1 0 .663 9.543l3.86 3.86a2.11 2.11 0 0 0 2.054.543c.38-.084.74-.274 1.033-.568l7.77-7.77a2.114 2.114 0 0 0-2.987-2.99l-6.34 6.34z'%3E%3C/path%3E%3C/svg%3E");
    height: 10px;
    width: 10px;
    background-position: 50%;
    background-size: contain;
  }

  &.active {
    .active-icon-wrapper {
      display: flex;
    }
  }
}

.country {
  .country-name {
    display: flex;
    flex-grow: 1;
  }

  .flag-icon {
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 8px;

    &-fr {
      background-image: url(https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/fr.svg);
    }

    &-gb {
      background-image: url(https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/gb.svg);
    }
  }

  .active-icon-wrapper {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M6.054 8.958 3.65 6.555A2.112 2.112 0 1 0 .663 9.543l3.86 3.86a2.11 2.11 0 0 0 2.054.543c.38-.084.74-.274 1.033-.568l7.77-7.77a2.114 2.114 0 0 0-2.987-2.99l-6.34 6.34z'%3E%3C/path%3E%3C/svg%3E");
    height: 10px;
    width: 10px;
    background-position: 50%;
    background-size: contain;
  }

  &.active {
    .active-icon-wrapper {
      display: flex;
    }
  }
}

.routeDetails {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 25px;
  border-radius: 6px;
  max-width: 240px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  z-index: 1;
  overflow: hidden;

  .info {
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background-color: #fff;
  }

  .routeOptions {
    overflow-y: auto;
    max-height: 240px;
    font-size: 12px;
    padding-top: 12px;
    background-color: #fff;

    .option-detail {
      display: flex;
      flex-wrap: wrap;
      padding: 0 12px 8px 12px;
      margin: 0;

      &-label {
        color: rgba(0, 0, 0, 0.5);
        margin-right: 4px;
      }
    }
  }
}

.addressDetails {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 25px;
  border-radius: 6px;
  max-width: 240px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  z-index: 1;
  overflow: hidden;

  .info {
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background-color: #fff;
  }

  .addressOptions {
    overflow-y: auto;
    max-height: 240px;
    font-size: 12px;
    padding-top: 12px;
    background-color: #fff;

    .option-detail {
      display: flex;
      flex-wrap: wrap;
      padding: 0 12px 8px 12px;
      margin: 0;

      &-label {
        color: rgba(0, 0, 0, 0.5);
        margin-right: 4px;
      }
    }
  }
}

.address-components {
  padding: 0 0 18px 0;
  background-color: rgba(0, 0, 0, 0.03);
}

.address-components .title {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 12px 10px 12px;
}

/* [END woosmap_demo_airport] */
