@use 'sass:meta'; // To enable @use via meta.load-css and keep comments in order

/* [START woosmap_localities_api_details] */
@include meta.load-css("../../shared/scss/_default.scss");
@include meta.load-css("../../shared/scss/_autocomplete_input.scss");
@include meta.load-css("../../shared/scss/_autocomplete_list.scss");
@import "../../shared/scss/mixins.scss";

#app {
  height: 100%;
  font-size: 13px;
}
body {
  background-color: #eee;
  overflow: auto;
}

.bold {
  font-weight: 700;
}
#autocomplete-container{
  @include autocomplete-container($left: 40%);
}
.options {
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 210px;
  top: 10px;
  left: 10px;
}

.options > label {
  display: block;
  padding: 5px;
}

.options select,
.options button {
  padding: 3px;
  margin: 5px;
  width: 200px;
}

.selectBox {
  position: relative;
}
.options {
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 210px;
}

.options > label {
  display: block;
  padding: 5px;
}

.options select,
.options button {
  padding: 3px;
  margin: 5px;
  width: 200px;
}

.selectBox {
  position: relative;
}

#countries {
  width: 100%;
  max-width: 400px;
  max-height: 95%;
  position: absolute;
  z-index: 10;
  display: none;
  flex-wrap: wrap;
  overflow: auto;
  padding-bottom: 35px;
}

#countries button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.country {
  display: flex;
  flex: 1 1 50%;
  cursor: pointer;
  align-items: center;
}

.country span {
  margin: 2px;
  padding: 2px;
}

.country.active {
  background: rgba(0, 168, 98, 0.15);
}

.country .active-icon-wrapper {
  width: 21px;
  height: 21px;
  display: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' focusable='false' style='width: 21px;height: 21px;'%3E%3Cpath d='M4.29 12.104c-.277-.308-.75-.332-1.06-.054-.306.278-.33.752-.053 1.06l4.485 4.963c.29.322.795.33 1.096.017L20.414 6.003c.288-.298.28-.773-.02-1.06-.297-.288-.772-.28-1.06.02L8.237 16.47 4.29 12.105z' fill='%2300a862' %3E%3C/path%3E%3C/svg%3E");
}
#bgOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
}

#active-restrictions {
  padding: 0 5px;
  max-height: 220px;
  overflow: auto;
}

.country.active .active-icon-wrapper,
#countries label {
  display: block;
}
.addressDetails {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 60px;
  border-radius: 6px;
  max-width: 240px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  z-index: 1;
  overflow: hidden;

  .info {
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background-color: #fff;
  }

  .addressOptions {
    overflow-y: auto;
    max-height: 240px;
    font-size: 12px;
    padding-top: 12px;
    background-color: #fff;

    .option-detail {
      display: flex;
      flex-wrap: wrap;
      padding: 0 12px 8px 12px;
      margin: 0;

      &-label {
        color: rgba(0, 0, 0, 0.5);
        margin-right: 4px;
      }
    }
  }
}

.address-components {
  padding: 0 0 18px 0;
  background-color: rgba(0, 0, 0, 0.03);
}

.address-components .title {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 12px 10px 12px;
}
/* [END woosmap_localities_api_details] */
