{% extends '../../src/_includes/layout.njk' %}
{% block html %}
    <!-- [START woosmap_{{ tag }}_div] -->
    <div id="app">
        <p class="title">Autocomplete input with Woosmap Localities API</p>
        <p class="note">
            <em>Restrictions on "locality|postal_code|address", country "fr|gb|it|es|de"</em>
        </p>
        <div class="search-container">
            <div id="autocomplete-container" class="autocomplete-container">
                {% svgIcon 'search.svg' %}
                <input
                        type="text"
                        id="autocomplete-input"
                        placeholder="Search a locality or a postal code..."
                        autocomplete="off"
                />
                <button aria-label="Clear" class="clear-searchButton" type="button">
                    {% svgIcon 'clear.svg' %}
                </button>
                <ul id="suggestions-list" class="suggestions-list"></ul>
                <ul id="pr-suggestions-list" class="suggestions-list"></ul>
            </div>
            <input
                    type="text"
                    id="secondary-target"
                    value="1237"
                    autocomplete="off"
                    class="autocomplete-input"
                    hint="PR number or empty for develop"
                />
        </div>
        <pre id="response-container"></pre>
    </div>
    <!-- [END woosmap_{{ tag }}_div] -->
{% endblock %}
{% block api %}{% endblock %}
