<div id="countrySelector" class="dropdown">
    <button class="dropdown-button"><span>
            {% set selectedCountries = countries | selectattr("selected") | list %}
            {% if selectedCountries.length > 0 %}
                Selected countries:
                {% for country in selectedCountries %}
                    <strong>{{ country.code }}</strong>{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                Select countries
            {% endif %}
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
            <path d="m4 4 3.4 3.4c.3.4.9.4 1.2 0L11.9 4 14 6.2l-5.4 5.6c-.3.3-.9.3-1.2 0L2 6.2z"></path>
        </svg>
    </button>
    <div id="countryDropdown" class="dropdown-content dropdown-menu">
        <div>
            <ul role="listbox">
                {% for country in countries %}
                    <li class="country {{ 'active' if country.selected }}" data-countrycode="{{ country.code }}"
                        data-countryname="{{ country.name }}">
                        <div class="dropdown-menuitem">
                            <span class="flag-icon flag-icon-{{ country.code | lower }}"></span>
                            <div class="country-name">{{ country.name }}</div>
                            <div class="active-icon-wrapper"></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
