<!DOCTYPE html>
<!-- [START woosmap_{{ tag }}] -->
<html {% if rtl == "true" %}dir="rtl"{% endif -%}>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="initial-scale=1.0">
    {% block external -%}{% endblock -%}
    {% block resources %}
        {% if mode == "jsfiddle" -%}
        <!-- jsFiddle will insert css and js -->
        {% elif mode == "app" %}
            <link rel="stylesheet" type="text/css" href="./style.css">
            <script type="module" src="./index.{% if tsx %}tsx{% else %}ts{% endif %}"></script>
        {% else %}
        <link rel="stylesheet" type="text/css" href="./style.css">
            <script type="module" src="./index.js"></script>
        {% endif -%}
    {% endblock %}
</head>
<body>
{% block html %}{% endblock %}
{% block api %}
    <script
            src="https://sdk.woosmap.com/map/map.js?key={{ WOOSMAP_PUBLIC_API_KEY }}&callback={{ callback }}{% if libraries|length %}&libraries={{ libraries }}{% endif %}{% if language %}&language={{ language }}{% endif %}"
            defer></script>
{% endblock %}
</body>
</html>
<!-- [END woosmap_{{ tag }}] -->
