{% extends '../../src/_includes/layout.njk' %}
{% block external %}
    <script src="https://webapp.woosmap.com/webapp.js"></script>
{% endblock %}
{% block html %}
    <!-- [START woosmap_{{ tag }}_div] -->
    <div id="map"></div>
    <!-- [END woosmap_{{ tag }}_div] -->
{% endblock %}
{% block api %}{% endblock %}
