@use 'sass:meta'; // To enable @use via meta.load-css and keep comments in order

@include meta.load-css("../../shared/scss/_sidebar.scss");
/* [START woosmap_store_locator_widget_events] */

#store-locator {
  flex-basis: 70vw;
  flex-grow: 5;
}

.events {
  font-family: "Droid Sans Mono", monospace;
}

.event {
  transition: background-color 0.5s ease-out;
  padding: 0.5em;
  overflow: hidden;
  font-size: 14px;
}

.active {
  background-color: #ffdd00;
  color: #000;
}

.inactive {
  background-color: white;
}
/* [END woosmap_store_locator_widget_events] */
