@use 'sass:meta'; // To enable @use via meta.load-css and keep comments in order

/* [START woosmap_infowindow_simple] */
@include meta.load-css("../../shared/scss/_default.scss");

.info-content {
  font-size: 14px;
  max-width: 300px;
  height: 100%;
}

.london-img {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/London_Skyline_%28125508655%29.jpeg/556px-London_Skyline_%28125508655%29.jpeg");
  width: 100%;
  height: 90px;
  background-size: cover;
}

/* [END woosmap_infowindow_simple] */
