@use 'sass:meta'; // To enable @use via meta.load-css and keep comments in order

/* [START woosmap_render_shapes_data] */
@include meta.load-css("../../shared/scss/_default.scss");

#info {
    position: absolute;
    top: 0;
    z-index: 10000;
    margin: 10px;
    background: #fff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  
/* [END woosmap_render_shapes_data] */
