#autocomplete-container {
    position: relative;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

#autocomplete-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#suggestions-list {
    position: absolute;
    width: 320px;
    top: 100%;
    left: 0;
    z-index: 1;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    max-height: 225px;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#suggestions-list li {
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#suggestions-list li:hover {
    background-color: #f2f2f2;
}