@use 'sass:meta'; // To enable @use via meta.load-css and keep comments in order

/* [START woosmap_render_shapes_data_events] */
@include meta.load-css("../../shared/scss/_default.scss");
#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 25%;
    bottom: 0;
  }
  
#events {
    position: absolute;
    top: 0;
    left: 75%;
    right: 0;
    bottom: 0;
    border-right: 2px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    font-family: "Droid Sans Mono", monospace;
  }
  
  .event {
    transition: background-color 0.5s ease-out;
    padding: 0.5em;
    overflow: hidden;
    font-size: 14px;
  }
  
  .active {
    background-color: #ffdd00;
    color: #000;
  }
  
  .inactive {
    background-color: white;
  }

/* [END woosmap_render_shapes_data_events] */
