{% extends '../../src/_includes/layout.njk' %}
{% block html %}
    <!-- [START woosmap_{{ tag }}_div] -->
    <!--The div element for the map -->
    <div id="map"></div>
    <!-- [END woosmap_{{ tag }}_div] -->
{% endblock %}
