{% extends '../../src/_includes/layout.njk' %}
{% block api %}
{% endblock %}
{% block html %}
<!-- [START woosmap_{{ tag }}_div] -->
<div id="root"></div>
<!-- [END woosmap_{{ tag }}_div] -->
{% endblock %}