{% extends '../../src/_includes/layout.njk' %}
{% block html %}
    <!-- [START woosmap_{{ tag }}_div] -->
    <div id="app">
      <div id="loader" class="center"></div>
      <!--The div element for the map -->
      <div id="map" style="visibility: hidden;"></div>
    </div>
    <!-- [END woosmap_{{ tag }}_div] -->
{% endblock %}
