{% extends '../../src/_includes/layout.njk' %}
{% block external %}
    <script src="https://sdk.woosmap.com/localities/localities.2.0.js"></script>
{% endblock %}
{% block html %}
    <!-- [START woosmap_{{ tag }}_div] -->
    <div id="app">
        <p class="title">Autocomplete input with Woosmap Localities JS API</p>
        <p class="note">
            <em>Custom Description for Postal Codes "{name} ({postal_town}) - {administrative_area_level_0}"</em>
        </p>
        <div class="search-container">
            <div id="autocomplete-container">
                {% svgIcon 'search.svg' %}
                <input
                        type="text"
                        id="autocomplete-input"
                        placeholder="Search a locality or a postal code..."
                        autocomplete="off"
                />
                <button aria-label="Clear" class="clear-searchButton" type="button">
                    {% svgIcon 'clear.svg' %}
                </button>
                <ul id="suggestions-list"></ul>
            </div>
        </div>
        <pre id="response-container"></pre>
    </div>
    <!-- [END woosmap_{{ tag }}_div] -->
{% endblock %}
{% block api %}{% endblock %}
