{% extends '../../src/_includes/layout.njk' %}
{% block html %}
    <!-- [START woosmap_{{ tag }}_div] -->
    <div id="app">
        <div id="autocomplete-container">
            {% svgIcon 'search.svg' %}
            <input
                    type="text"
                    id="autocomplete-input"
                    placeholder="Search Localities or POI..."
                    autocomplete="off"
            />
            <button aria-label="Clear" class="clear-searchButton" type="button">
                {% svgIcon 'clear.svg' %}
            </button>
            <ul id="suggestions-list"></ul>
        </div>
        <div class="addressDetails">
            <div class="addressOptions"></div>
        </div>
        <div id="map"></div>
    </div>
    <!-- [END woosmap_{{ tag }}_div] -->
{% endblock %}
