@use 'sass:meta'; // To enable @use via meta.load-css and keep comments in order

/* [START woosmap_indoor_widget_advanced] */
@include meta.load-css("../../shared/scss/_default.scss");
@import "../../shared/scss/mixins.scss";

#app {
    height: 100%;
}

#loader {
    @include loader();
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* [END woosmap_indoor_widget_advanced] */
