{% extends '../../src/_includes/layout.njk' %}
{% block html %}
    <!-- [START woosmap_{{ tag }}_div] -->
    <div id="app">
        <div class="progress"></div>
        <!--The div element for the map -->
        <div id="map"></div>
    </div>
    <!-- [END woosmap_{{ tag }}_div] -->
{% endblock %}
