@use 'sass:meta'; // To enable @use via meta.load-css and keep comments in order
@use "../../shared/scss/mixins" as *;

/* [START woosmap_indoor_map_simple] */
@include meta.load-css("../../shared/scss/_default.scss");

#app {
  height: 100%;
}

.progress {
  @include progress();
}

/* [END woosmap_indoor_map_simple] */
