@use 'sass:meta'; // To enable @use via meta.load-css and keep comments in order
@use "../../shared/scss/mixins" as *;

/* [START woosmap_transit_advanced] */
@include meta.load-css("../../shared/scss/_sidebar.scss");

#sidebar {
  flex-basis: 18rem;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}

#mapContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 70vw;
  flex-grow: 5;
  position: relative;
}

.tableContainer {
  max-height: 35%;
  overflow-y: auto;
  font-size: 13px;
}

.directionTrip {
  cursor: pointer;
  color: #0000008a;
  border-bottom: 1px solid #e6e6e6;
  flex: none;
  padding: 1rem;
  position: relative;

  &__selected {
    :before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-left: 5px solid #3d5afe;
      height: 100%;
    }

    .directionTrip__detailsMsg {
      display: block;
    }
  }

  &__detailsMsg {
    display: none;
  }

  &__travelModeIcon {
    position: absolute;
    top: 18px;
    width: 24px;
    height: 24px;
    opacity: 0.6;
  }

  &__description {
    padding-left: 48px;
  }

  &__numbers {
    float: right;
    text-align: right;
    padding-left: 10px;
  }

  &__duration, &__title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    vertical-align: top;
  }

  &__duration {
    color: #188038;
  }

  &__distance, &__summary {
    line-height: 16px;
    padding: 4px 0;
    font-size: 13px;
  }

  &__detailsMsg {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #3d5afe;
  }

  &__empty {
    padding: 1rem;
  }

  &__error {
    margin-top: 1rem;
    font-size: .9rem;

    &:before {
      content: "";
      display: inline-block;
      background-size: cover;
      width: 17px;
      height: 15px;
      padding-right: 5px;
      overflow: hidden;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath d='M2 42 24 4l22 38Zm22.2-5.85q.65 0 1.075-.425.425-.425.425-1.075 0-.65-.425-1.075-.425-.425-1.075-.425-.65 0-1.075.425Q22.7 34 22.7 34.65q0 .65.425 1.075.425.425 1.075.425Zm-1.5-5.55h3V19.4h-3Z' fill= '%23F3d5afe' /%3E%3C/svg%3E");
    }
  }
}


#innerWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 10px 40px;
}

input,
select {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

.transitOptions {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  background: #fff;
  display: flex;
  font-size: 13px;

  &__list {
    width: 100%;
    height: 100%;
  }

  &__header {
    font-weight: 600;
    line-height: 24px;
    display: flex;
  }

  &__input {
    height: 24px;
    display: flex;
    align-items: baseline;
  }

  &__content {
    padding: 10px 0;
  }

  &__content:first-child {
    padding-top: 0;
  }

}

.addLocation {
  font-size: .75em;
  display: flex;
  color: #222;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  div {
    margin-left: 5px;
  }

  &__selected {
    color: #3d5afe;

    svg path {
      fill: #3d5afe;
    }
  }
}

.sectionHeader {
  span {
    font-size: .85em;
    font-weight: 600;
  }

  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  margin: 20px -10px 5px;
  padding: 5px 10px;
  color: #222;

  &:first-child {
    margin-top: 0;
  }
}


.customCounter {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.customCounter li {
  counter-increment: step-counter;
  line-height: 14px;
  height: 22px;
  display: flex;
  align-items: center;

  span {
    flex-grow: 1;
  }
}

.customCounter li::before {
  margin-right: 5px;
  font-size: 80%;
  color: #fff;
  background-position: bottom;
  font-weight: 600;
  width: 20px;
  height: 20px;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.customCounter__destination li::before {
  background-image: url(https://images.woosmap.com/marker-red.svg);
  content: "D";
}

.customCounter__origin li::before {
  background-image: url(https://images.woosmap.com/marker-blue.svg);
  content: "O";
}

.clear-searchButton {
  display: block;
  height: 18px;
  width: 22px;
  background: none;
  border: none;
  vertical-align: middle;
  pointer-events: all;
  cursor: pointer;

  .clear-icon {
    color: inherit;
    flex-shrink: 0;
    height: 16px;
    width: 16px;
  }
}

#map {
  &.cursor-crosshair {
    .mapboxgl-canvas-container {
      cursor: crosshair !important;
    }
  }
}

#infoMessage {
  font-size: 12px;
  max-width: 200px;
  @include map-panel($top: 0);
}

.linear-progress {
  position: absolute;
  width: 100%;
  z-index: 2;
  bottom: 0;
  height: 4px;
  border-radius: 3px;
  overflow: hidden;
}

.progress {
  height: 100%;
  animation: progress 1.5s infinite;
  background: linear-gradient(to right, #3D5AFE, #3D5AFE);
  transform: translateX(-100%);
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.linear-progress.hide {
  display: none;
}


/* [END woosmap_transit_advanced] */


