@use 'sass:meta'; // To enable @use via meta.load-css and keep comments in order
@use "../../shared/scss/mixins" as *;

/* [START woosmap_marker_click_event] */
@include meta.load-css("../../shared/scss/_default.scss");

#info {
  max-width: 300px;
  @include map-panel($top: 0, $left: 0);
}

/* [END woosmap_marker_click_event] */
