{% extends '../../src/_includes/layout.njk' %}
{% block html %}
    <!-- [START woosmap_{{ tag }}_div] -->
   <div id="app">
      <div id="selector">
        <h3 class="panel-title">Map options</h3>

        <label class="select-container">
          <span class="label">Map style</span>
          <select id="woosmap-style-select">
            <option value="default">Default</option>
            <option value="lightgrey" selected>Light Grey</option>
            <option value="night">Transit By Night</option>
            <option value="retro">Retro</option>
          </select>
        </label>

        <label class="select-container">
          <span class="label">Overlay layer</span>
          <select id="layer-provider-select">
            <option value="pistes">OpenSnowMap ski runs</option>
            <option value="temperature">OpenWeather temperature</option>
            <option value="precipitation">OpenWeather precipitation</option>
          </select>
        </label>

        <label class="select-container">
          <span class="label">Opacity</span>
          <div class="opacity-control">
            <input
              id="opacity-value-input"
              type="range"
              value="1"
              step="0.05"
              min="0"
              max="1"
            />
            <span id="opacity-value-display">100%</span>
          </div>
        </label>
      </div>
      <div id="map"></div>
    </div>
    <!-- [END woosmap_{{ tag }}_div] -->
{% endblock %}
