{% extends '../../src/_includes/layout.njk' %}
{% block html %}
    <!-- [START woosmap_{{ tag }}_div] -->
   <div id="app">
      <div id="selector">
        <div class="select-container">
          <span>Woosmap Style </span>
          <select id="woosmap-style-select">
            <option value="default">Default</option>
            <option value="lightgrey">Light Grey</option>
            <option value="night">Transit By Night</option>
            <option value="retro">Retro</option>
          </select>
        </div>
        <div class="select-container">
          <span>Third party layer </span>
          <select id="layer-provider-select">
            <option value="satellite">QGIS satellite view</option>
            <option value="temperature">OpenWeather temperature</option>
            <option value="precipitation">OpenWeather precipitation</option>
          </select>
        </div>
        <div class="select-container">
          <span>Opacity </span>
          <input
            id="opacity-value-input"
            type="number"
            value="1"
            step=0.1
            min="0"
            max="1"
          />
        </div>
      </div>
      <div id="map"></div>
    </div>
    <!-- [END woosmap_{{ tag }}_div] -->
{% endblock %}
