name: Release
on:
  push:
    branches:
      - master
jobs:
  release:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.WOOSMAP_GH_ACCESS_TOKEN }}
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - run: npm ci

      - run: npm run build

      - name: Update dist
        run: |
          git config --global user.name 'wgsadmin'
          git config --global user.email 'operations@webgeoservices.com'
          
          git add dist
          git commit -m "chore: update dist folder [skip ci]" || true
          
          # Using WOOSMAP_GH_ACCESS_TOKEN ensures the push works even if the repo is public
          git remote set-url origin https://x-access-token:${{ secrets.WOOSMAP_GH_ACCESS_TOKEN }}@github.com/${{ github.repository }}.git
          git push origin HEAD:master
        env:
          GH_TOKEN: ${{ secrets.WOOSMAP_GH_ACCESS_TOKEN }}

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v6
        with:
          extra_plugins: |
            @semantic-release/commit-analyzer
            @semantic-release/release-notes-generator
            @semantic-release/npm
            @semantic-release/git
            @semantic-release/github
        env:
          GH_TOKEN: ${{ secrets.WOOSMAP_GH_ACCESS_TOKEN }}
          NPM_TOKEN: skip

      - name: Push samples to branches
        run: |
          bash ./sample-to-branch.sh
        env:
          GITHUB_TOKEN: ${{ secrets.WOOSMAP_GH_ACCESS_TOKEN }}