{% extends '../../src/_includes/layout.njk' %}
{% block html %}
    <div class="container">
        <button class="btn" id="getDrawData" type="button">
            <span class="btnText" tabindex="-1">Get GeoJSON</span>
        </button>
    </div>
    <!--The div element for the map -->
    <div id="map"></div>
    <div class="modal-overlay closed" id="modal-overlay"></div>
    <div class="modal closed"  id="modal">
        <!-- Modal content -->
        <div class="modal-content" id="modal-content"></div>
    </div>
{% endblock %}
