{% extends '../../src/_includes/layout.njk' %}
{% block html %}
     <div id="buttons">
        <button id="getAll" type="button">Export</button>
      </div>
    <!--The div element for the map -->
    <div id="map"></div>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" id="modal-content" />
    </div>
{% endblock %}
